/* Pen-specific styles */
* {
  box-sizing: border-box;
}


section {
  color: #FFF;
  text-align: center;
}

.div1 {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #FFF;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #FFF;
  position: absolute;
  right: 0px;
  width: 50%;
}